BACKEND_SECRET=<generated-hex>
GITHUB_APP_APP_ID=<your app id>
GITHUB_APP_CLIENT_ID_INTEGRATION=<your client id>
GITHUB_APP_CLIENT_SECRET_INTEGRATION=<your client secret>
GITHUB_APP_PRIVATE_KEY=<single-line pem>
GITHUB_URL=https://github.com
GITHUB_ORG=<your org slug>
GITHUB_APP_CLIENT_ID=<same client id>
GITHUB_APP_CLIENT_SECRET=<same client secret>
RHDH_URL=http://backstage-developer-hub.rhdh.apps.....com
REDIS_URL=redis://:rhdh-admin@redis.redis.svc.cluster.local:6379
POSTGRES_HOST=postgres.postgresql.svc.cluster.local
POSTGRES_PORT=5432
POSTGRES_USER=rhdh-admin
POSTGRES_PASSWORD=rhdh-admin
POSTGRES_DATABASE=rhdh-db
ARGOCD_URL=https://rhdh-gitops-server-rhdh-gitops.apps.<your-cluster-domain>
ARGOCD_USERNAME=developer-hub
ARGOCD_PASSWORD=d3v3l0p3rs